# Dependencias y builds
node_modules/
dist/
build/
.gradle/
.idea/
android/app/build/
ios/Pods/

# VS Code
.vscode/

# SO
.DS_Store
Thumbs.db

# Logs y temporales
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Credenciales
.env
.env.*